@media(min-width:0px) and (max-width:567px) {
    #header {
        height: 100%;

        .parents {
            display: none;
        }

        .tel {
            position: fixed;
            background-color: white;
            z-index: 999;
            width: 100%;

            div {
                .logoo {
                    margin-top: 10px;

                    .navico {
                        i {
                            font-size: 20px;
                        }
                    }

                    .logo1 {
                        width: 150px;

                    }
                }

                .ul {
                    width: 104%;
                    position: absolute;
                    top: 100%;
                    left: -4%;
                    opacity: 0;
                    transition: 0.5s;
                    background-color: white;
                    transform: translateY(-5px);

                    &.active {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .ul1 {

                        li {
                            padding: 10px 0;

                            a {
                                width: 100%;
                                border-bottom: 2px solid rgb(224, 223, 223);
                                text-decoration: none;
                                display: inline-block;
                                font-size: 17px;
                                font-weight: 600;
                                color: #1b287e;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                            }
                        }
                    }

                    .ul2 {
                        li {
                            a {
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                padding: 20px 0;
                                font-size: 17px;
                                font-weight: 700;
                                color: #1b287e;
                                text-decoration: none;
                                display: inline-block;

                            }
                        }
                    }

                    .ul3 {
                        margin-top: 10px;

                        li {
                            p {
                                text-decoration: none;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                font-size: 14px;
                                font-weight: 400;
                                color: #1b287e;
                                text-decoration: none;
                            }
                        }
                    }

                    .ul4 {
                        li {
                            a {
                                font-size: 1rem;
                                padding-top: 10px;
                                color: #384281;
                                text-decoration: none;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:567px) and (max-width:992px) {
    #header {
        position: fixed;
        width: 100%;
        z-index: 999;
        background-color: rgba(245, 245, 245, 0.973);

        .tel {
            display: none;
        }

        hr {
            position: relative;
            margin: 0;
            padding: 0;
            top: -25px;
        }

        .parents {
            margin: auto;
            width: 95%;

            .boxes {
                .boxes1 {
                    ul {
                        position: relative;
                        bottom: -10px;

                        li {

                            p {
                                font-size: 12px;
                                font-weight: 500;
                                color: #2034B4;
                                display: inline-block;
                                padding: 20px 6px;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .boxes2 {
                    a {
                        font-size: 13px;
                        color: #152170;
                        display: inline-block;
                        padding: 20px 5px;
                        text-decoration: none;
                    }

                    ul {
                        padding: 0 10px;
                        z-index: 1;

                        li {
                            position: relative;

                            a {
                                display: block;
                                padding: 20px 0;

                                i {
                                    margin-left: 5px;
                                }
                            }

                            &:hover {
                                ul {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(45px);
                                }
                            }

                            ul {
                                display: block;
                                position: absolute;
                                opacity: 0;
                                left: -35%;
                                transition: 0.5s;
                                top: 0%;
                                visibility: hidden;
                                width: 55px;
                                border-radius: 5px;
                                background-color: white;
                                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                transform: translateY(0);

                                li {
                                    list-style: none;
                                    text-align: center;

                                    a {
                                        text-decoration: none;
                                        color: blue;
                                        padding: 2px 0;
                                        margin: 0;
                                        transition: 0.3s;

                                        &:hover {
                                            color: orange;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .box1 {
                position: relative;
                bottom: 15px;

                .logo {
                    width: 130px;
                }

                div {
                    ul {
                        li {
                            padding: 0 8px;

                            &:nth-child(1) {
                                a {
                                    border-bottom: 2px solid #2034B4;
                                }
                            }

                            a {
                                padding: 0 5px;
                                font-size: 13px;
                                font-weight: 600;
                                display: inline-block;
                                text-decoration: none;
                                color: #2034B4;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media(min-width:992px) {
    #header {
        position: sticky;
        width: 100%;
        z-index: 999;
        background-color: rgba(245, 245, 245, 0.973);

        .tel {
            display: none;
        }

        hr {
            position: relative;
            margin: 0;
            padding: 0;
            top: -25px;
        }

        .parents {
            margin: auto;
            width: 95%;

            .boxes {
                .boxes1 {
                    ul {
                        position: relative;
                        bottom: -10px;

                        li {
                            p {
                                font-size: 14px;
                                font-weight: 500;
                                color: #2034B4;
                                display: inline-block;
                                padding: 20px 10px;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .boxes2 {
                    a {
                        font-size: 17px;
                        color: #152170;
                        display: inline-block;
                        padding: 20px 8px;
                        text-decoration: none;
                    }

                    ul {
                        padding: 0 15px;
                        z-index: 1;

                        li {
                            position: relative;

                            a {
                                display: block;
                                padding: 20px 0;

                                i {
                                    margin-left: 5px;
                                }
                            }

                            &:hover {
                                ul {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(45px);
                                }
                            }

                            ul {
                                display: block;
                                position: absolute;
                                opacity: 0;
                                left: -35%;
                                transition: 0.5s;
                                top: 0%;
                                visibility: hidden;
                                width: 65px;
                                border-radius: 5px;
                                background-color: white;
                                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                                transform: translateY(0);

                                li {
                                    list-style: none;
                                    text-align: center;

                                    a {
                                        text-decoration: none;
                                        color: blue;
                                        padding: 2px 0;
                                        margin: 0;
                                        transition: 0.3s;

                                        &:hover {
                                            color: orange;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .box1 {
                position: relative;
                bottom: 15px;

                .logo {
                    width: 150px;
                }

                div {
                    ul {
                        li {
                            padding: 0 25px;

                            &:nth-child(1) {
                                a {
                                    border-bottom: 2px solid #2034B4;
                                }
                            }

                            a {
                                padding: 0 6px;
                                font-size: 15px;
                                font-weight: 600;
                                display: inline-block;
                                text-decoration: none;
                                color: #2034B4;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}